.technologies__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer__title {
  color: var(--bg-deepblue);
  margin-top: 1rem 0;
  font-weight: 500;
  padding: 1rem;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 1190px) {
  .technologies__container {
    flex-direction: row;
    align-items: start;
  }
}
