.countries {
  background-color: var(--bg-lightblue);
  color: var(--clr-white);
}

.countries__icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 240px;
  min-height: 170px;
}

.countries__icon-1 {
  background-image: url("./img/country-1.webp");
}

.countries__icon-2 {
  background-image: url("./img/country-2.webp");
}

.countries__icon-3 {
  background-image: url("./img/country-3.webp");
}

.countries__cards {
  color: var(--clr-white);
}

.countries .countries__drop {
  width: 370px;
  height: 350px;
  position: relative;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.1),
    25px 35px 20px rgba(0, 0, 0, 0.1), 25px 30px 30px rgba(0, 0, 0, 0.1),
    inset -20px -20px 25px rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  transition: border-radius 0.5s;
  overflow: hidden;
  text-align: center;
  animation: drop 2s infinite alternate ease-in-out;
  border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
}

.countries .countries__drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 75px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
}

.countries .countries__drop::after {
  content: "";
  position: absolute;
  top: 75px;
  left: 90px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
}

@keyframes drop {
  from {
    border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
  }

  to {
    border-radius: 50%;
  }
}

@media screen and (min-width: 768px) {
  .countries__icon {
    height: 175px;
  }
}
