:root {
  --bg-blue: rgba(230, 248, 255, 1);
  --bg-deepblue: rgba(21, 128, 255, 1);
  --bg-lightblue: rgba(194, 223, 255, 1);
  --bg-turquoise: rgba(110, 194, 224, 1);
  --bg-gradient-1: linear-gradient(105.07deg, #aae6ff 22.48%, #dbf5ff 55.37%);
  --bg-gradient-2: linear-gradient(43.07deg, #dbf5ff 22.48%, #aae6ff 55.37%);
  --bg-grey: rgba(17, 85, 182, 0.4);
  --bg-overlay: rgba(0, 0, 0, 0.4);
  --clr-white: rgba(255, 255, 255, 1);
  --clr-black-1: rgba(24, 29, 28, 1);
  --clr-black-2: rgba(42, 42, 42, 1);
  --clr-black-3: rgba(64, 64, 64, 1);
  --clr-lightgreen: rgba(85, 187, 158, 1);
}
