.technologies__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.technologies__icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: block;
  margin: 0 0.5rem;
  opacity: 0.7;
  transition: transform 0.5s;
}

.technologies__icon:hover {
  transform: scale(1.1);
}

.technologies__text {
  text-align: center;
  word-break: break-word;
  min-height: 25px;
  font-weight: 500;
  margin-top: 8px;
  padding-bottom: 10px;
}

.technologies__card:hover .technologies__icon {
  box-shadow: 0 4px 8px var(--bg-turquoise);
  border-radius: 15px;
}

.technologies__card:hover .technologies__text {
  color: var(--bg-deepblue);
}

.technologies__arrow {
  transform: rotate(90deg);
  height: 20px;
}

.technologies__arrow img {
  padding-left: 10px;
}

@media (min-width: 576px) {
  .technologies__icon {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) {
  .technologies__icon {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 992px) {
  .technologies__icon {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1190px) {
  .technologies__card {
    flex-direction: row;
  }

  .technologies__wrapper {
    height: 170px;
    width: 125px;
  }

  .technologies__icon {
    width: 95px;
    height: 95px;
  }

  .technologies__text {
    width: 145px;
  }

  .technologies__arrow {
    transform: rotate(0deg);
    margin-left: 10px;
  }

  .technologies__arrow img {
    padding-left: 0;
  }
}
