.blocks {
  animation: show 0.8s ease-in-out forwards;
  color: var(--clr-white);
}

.blocks__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blocks__list {
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--bg-opacity);
  box-shadow: 0 4px 8px var(--clr-white);
  margin-bottom: 2rem;
}

.blocks__list:hover {
  box-shadow: 0 4px 8px var(--bg-deepblue);
}

.blocks__text {
  transition: transform 0.9s;
}

.blocks__list:hover .blocks__text {
  font-size: 1.05rem;
  transform: translateX(5px);
  font-weight: 500;
  color: var(--bg-darkblue);
}

.blocks__title {
  color: var(--bg-deepblue);
}

.blocks__subtitle {
  color: var(--clr-white);
  margin-bottom: 1rem;
  letter-spacing: normal;
  font-weight: 400;
}

.blocks__icon {
  color: var(--bg-deepblue);
  margin-right: 10px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .blocks__direction {
    flex-direction: row-reverse;
    margin-bottom: 2rem;
  }
}
