.technology {
  background-color: var(--bg-lightblue);
  padding-bottom: 1rem;
  text-align: center;
}

.technology__title {
  color: var(--bg-deepblue);
  font-weight: 600;
  margin: 0;
}

.technology__subtitle {
  color: var(--bg-deepblue);
  line-height: 1.7rem;
  padding-bottom: 1rem;
  font-weight: 500;
  margin: 0 1rem;
}
